body {
  background-image: url(https://c.wallhere.com/photos/c1/64/Rick_and_Morty_space-1341343.jpg!d);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container__item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.container__img {
<<<<<<< HEAD
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5rem;
  margin-bottom: 2rem;
  margin-right: 3.2rem;
  text-align: center;
  cursor: pointer;
=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 5rem;
    margin-bottom: 2rem;
    margin-right: 3.2rem;
    text-align: center;
    margin-top: 5rem;
    cursor: pointer;
    
>>>>>>> c2db53913e9dd82890bd52f8a44207d92c0bfdba
}

.container__imagen {
  background-color: rgba(5, 2, 2, 0.747);
  width: 60%;
  margin-left: 3.5rem;
  padding: 1rem;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%;
  box-shadow: 3px 8px 10px rgba(3, 3, 3, 0.664);
}

.item__img {
  cursor: pointer;
  border: 2px solid black;
  height: 300pxp;
  border-radius: 4%;
  margin-top: 3%;
}

.item__titulo {
  font-size: 30px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container__titulo--cartas {
  display: flex;
  justify-content: center;
}
.titulo__principal--cartas {
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.container__item--numero {
  position: relative;
}

.container__item--precio {
  display: flex;
  margin-left: 3.5rem;
  background-color: rgba(5, 2, 2, 0.747);
  width: 66%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.item__precio {
  font-size: 25px;
  cursor: pointer;
  color: white;
  margin: auto;
  margin-top: 0.5rem;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
